<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="Persistence" transaction-type="RESOURCE_LOCAL">
        <class>business.Ajout</class>
        <class>business.Commentaire</class>
        <class>business.Personne</class>
        <class>business.User</class>
        <properties>
            <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver" />
            <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@ne-ege-leto.ig.he-arc.ch:1521:ens2" />
            <property name="javax.persistence.jdbc.user" value="ajtene_kurtaliq" />
            <property name="javax.persistence.jdbc.password" value="ajtene_kurtaliq" />
        </properties>
    </persistence-unit>
</persistence>
